@use "../settings" as set;

nav {
  position: relative;
  display: grid;
  grid-template-columns: 80% 20%;
  align-items: center;
  padding: 15px 30px;
  z-index: 20;
  height: 10vh;
  .in-link {
    display: flex;
    justify-content: start;
  }
  .out-link {
    display: flex;
    justify-content: end;
    a {
      font-size: 1.5rem;
      @media screen and (max-width: 550px) {
        font-size: 1.1rem;
      }
    }
  }
  ul {
    position: relative;
    text-transform: uppercase;
    gap: 4vw;
    li {
      font-size: 1.2rem;
      transition: 0.2s;
      font-weight: bold;
      @media screen and (max-width: 900px) {
        font-size: 1rem;
      }
      @media screen and (max-width: 550px) {
        font-size: 0.9rem;
      }
      &:hover {
        transform: scale(1.2);
      }
      a {
        transition: 0.2s;
        color: set.$colorTitle;
        i{
          font-size: 2rem;
          @media screen and (max-width: 550px) {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}
