@use "../settings" as set;

footer{
    text-align: center;
    background: set.$background2;
    padding-bottom: 100px;
    .footer-container{
        color: whitesmoke;
        h2{
            color: set.$background1;
        }
        p{
            max-width: 1000px;
            width: 80%;
            margin: 0 auto;
        }
        ul{
            padding: 50px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 60px;
            li{
                transition: .2s;
                a{
                    font-size: 2rem;
                    color: whitesmoke;
                }
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
    }
}