@use "../settings" as set;

footer{
    text-align: center;
    background: rgb(45,45,45);
    .footer-container{
        padding: 50px 200px;
        color: whitesmoke;
        h2{
            margin-bottom: 30px;
        }
        ul{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 60px;
            li{
                a{
                    font-size: 2rem;
                    color: whitesmoke;
                }
            }
        }
        @media screen and (max-width: 1440px) {
            padding: 50px 100px;
          }
        @media screen and (max-width: 550px) {
            padding: 50px 0 150px;
            p{
                display: none;
            }
          }
    }
}