@use "../settings" as set;

header{
  text-align: center;
  color: set.$black1;
  h1{
    font-family: set.$fonth1;
    width: fit-content;
    padding-top: 100px;
    margin: 0 auto 10px;
    display: flex;
    align-items: center;
    font-size: 5rem;
    span:nth-child(1),
    span:nth-child(8){
      font-size: 7rem;
    }
    span:nth-child(7){
      display: inline-block;
      width: 2rem;
    }
    span{
      cursor: pointer;
      transition: .2s;
      &:hover{
        color: yellowgreen;
        background: whitesmoke;
        transform: scale(1.5);
        animation: shakeLetter 1s cubic-bezier(.36,.07,.19,.97) both;
      }
    }
    
  }
  @keyframes shakeLetter {
    10%, 90% {
      transform: scale(1.5) translate3d(-1px, 0, 0) rotate3d(0, 0, 1, -3deg);
    }
    
    20%, 80% {
      transform: scale(1.5) translate3d(2px, 0, 0) rotate3d(0, 0, 1, 3deg);
    }
  
    30%, 50%, 70% {
      transform: scale(1.5) translate3d(-4px, 0, 0) rotate3d(0, 0, 1, -3deg);
    }
  
    40%, 60% {
      transform: scale(1.5) translate3d(4px, 0, 0) rotate3d(0, 0, 1, 3deg);
    }
  }
  
  h2{
    position: relative;
    font-family: set.$fontTitle;
    font-size: 2rem;
    margin: 50px 0 100px;
    letter-spacing: 5px;
  }
  .header-bot{
    background: rgb(45, 45, 45);
    padding: 50px 0;
    .description{
      color: whitesmoke;
      width: 80%;
      margin:  auto;
      #introduction{
        
        margin-bottom: 20px;
        
      }
      #technologies{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
        color: yellowgreen;
      }
    }
  }
}


