@use "../settings" as set;

header{
  text-align: center;
  height: 90vh;
  h1{
    z-index: 20;
    position: relative;
    font-family: set.$fontTitle;
    width: fit-content;
    padding-top: 100px;
    margin: 0 auto 10px;
    display: flex;
    align-items: center;
    font-size: 5rem;
    @media screen and (max-width: 900px) {
      font-size: 3rem;
    }
    @media screen and (max-width: 550px) {
      font-size: 2rem; 
    }
    span:nth-child(1),
    span:nth-child(8){
      font-size: 7rem;
      @media screen and (max-width: 900px) {
      font-size: 4rem;
      }
      @media screen and (max-width: 550px) {
      font-size: 3rem;
      }
    }
    span:nth-child(7){
      display: inline-block;
      width: 2rem;
    }
    span{
      transition: .2s;
      &:hover{
        color: yellowgreen;
        background: whitesmoke;
        transform: scale(1.5);
        animation: shakeLetter 1s cubic-bezier(.36,.07,.19,.97) both;
      }
    }
    
  }
  h2 {
    text-transform: uppercase;
    position: relative;
    font-family: set.$fontSubtitle;
    font-size: 2rem;
    letter-spacing: 5px;
    margin-top: 80px;

    @media screen and (max-width: 900px) {
      font-size: 1.5rem;
    }

    @media screen and (max-width: 550px) {
      font-size: 0.9rem;
      letter-spacing: 2px;
      margin-top: 30px;
    }
  }
  @keyframes shakeLetter {
    10%, 90% {
      transform: scale(1.5) translate3d(-1px, 0, 0) rotate3d(0, 0, 1, -3deg);
    }
    
    20%, 80% {
      transform: scale(1.5) translate3d(2px, 0, 0) rotate3d(0, 0, 1, 3deg);
    }
  
    30%, 50%, 70% {
      transform: scale(1.5) translate3d(-4px, 0, 0) rotate3d(0, 0, 1, -3deg);
    }
  
    40%, 60% {
      transform: scale(1.5) translate3d(4px, 0, 0) rotate3d(0, 0, 1, 3deg);
    }
  }
  
  
  .header-bot{
    // background: rgb(45, 45, 45);
    margin-top: 50px;
    padding: 50px 0;
    .description{
      // color: whitesmoke;
      color: rgb(45, 45, 45);
      width: 80%;
      margin:  auto;
      #introduction{
        
        margin-bottom: 20px;
        
      }
      #technologies{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
        color: set.$accent1;
      }
      #competences{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
        color: set.$accent1;

      }
    }
  }
}


