@use "../settings" as set;

.projets {
  overflow: hidden;
  background: set.$black1;
  color: whitesmoke;
  text-align: center;
  padding: 50px 0;
  .projets-titles h2{
    font-family: set.$fontTitle;
            font-size: 4rem;
            padding: 0 0 50px 0;
            letter-spacing: normal;
  }
  #projet-container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 50px;
    align-items: center;
    justify-items: center;
    z-index: 20;
    position: relative;
    .projet-description{
      width: 450px;
    }
  }
}
