@use "../settings" as set;

.projets {
  overflow: hidden;
  color: whitesmoke;
  text-align: center;
  padding: 50px 0;
  #projet-container {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    position: relative;
    @media screen and (max-width: 1500px) {
      grid-template-columns: 1fr 1fr;

    }
    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
}
