html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "white on black";
  src: url(../fonts/whiteonblack/whiteonblack.ttf);
}

@font-face {
  font-family: "baloo";
  src: url("../fonts/baloo/Baloo2-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Black.ttf");
}
$fontTitle: "white on black";
$fontSubtitle: "Roboto";
$font: "baloo";
$black1: rgb(45, 45, 45);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  
  
  body {
    user-select: none;
    font-family: baloo, sans-serif;
    background: whitesmoke;
    position: relative;
    // cursor: none;
    p {
      line-height: 40px;
      font-size: 1.1rem;

      @media screen and (max-width: 900px) {
        font-size: 1rem;
      }

      @media screen and (max-width: 550px) {
        font-size: 0.8rem;
      }
    }

    a {
      text-decoration: none;
      position: relative;
    }

    
  }
}


#go-top {
  content: "";
  position: fixed;
  background: rgba(45, 45, 45, 0.2);
  // background: rgba(245, 245, 245, 0.2);
  color: whitesmoke;
  // color: rgb(45, 45, 45);
  font-size: 3rem;
  width: 75px;
  height: 75px;
  border: none;
  border-radius: 50px;
  top: 86%;
  left: 91%;
  transition: 0.5s;
  opacity: 0;
  z-index: 20;

  // mix-blend-mode: ;
  @media screen and (max-width: 900px) {
    left: 85%;
  }

  @media screen and (max-width: 550px) {
    left: 50%;
    transform: translate(-50%);
  }

  a {
    color: whitesmoke;
  }

  &:hover {
    transform: scale(1.2);
    background: yellowgreen;

    @media screen and (max-width: 550px) {
      transform: scale(1.2) translate(-50%);
    }
  }
}

