html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "white on black";
  src: url(../fonts/whiteonblack/whiteonblack.ttf);
}

@font-face {
  font-family: "baloo";
  src: url("../fonts/baloo/Baloo2-VariableFont_wght.ttf");
}

@font-face {
  font-family: "opensans";
  src: url("../fonts/opensans/OpenSans-VariableFont_wdth\,wght.ttf");
}

$fontTitle: "white on black";
$fontSubtitle: "baloo";
$colorTitle: #333333;

$fontTxt: "opensans";
$colorTxt: #999999;

$background1 : #F5F5F5;
$background2: rgb(45, 45, 45);;
$backgroundBlur: rgba(5, 5, 5, 0.5);
$accent1: rgb(154,205,50);
// $accent2: rgb(215, 46, 167);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  
  body {
    user-select: none;
    font-family: opensans, sans-serif;
    background: whitesmoke;
    position: relative;
    section{
      margin-bottom: 100px;
    }
    h1, h2{
      color: $colorTitle;
      font-family: $fontTitle;
    }
    h2{
      font-size: 4rem;
      padding: 50px 0 100px 0;
      letter-spacing: normal;
    }
    p {
      line-height: 40px;
      font-weight: 400;

      @media screen and (max-width: 900px) {
        font-size: 1rem;
      }

      @media screen and (max-width: 550px) {
        font-size: 0.8rem;
      }
    }

    a {
      text-decoration: none;
      position: relative;
    }

    
  }
}


#go-top {
  content: "";
  position: fixed;
  background: rgba(45, 45, 45, 0.2);
  // background: rgba(245, 245, 245, 0.2);
  color: whitesmoke;
  // color: rgb(45, 45, 45);
  font-size: 3rem;
  width: 75px;
  height: 75px;
  border: none;
  border-radius: 50px;
  top: 86%;
  left: 91%;
  transition: 0.5s;
  opacity: 0;
  z-index: 20;

  // mix-blend-mode: ;
  @media screen and (max-width: 900px) {
    left: 85%;
  }

  @media screen and (max-width: 550px) {
    left: 50%;
    transform: translate(-50%);
  }

  a {
    color: whitesmoke;
  }

  &:hover {
    transform: scale(1.2);
    background: yellowgreen;

    @media screen and (max-width: 550px) {
      transform: scale(1.2) translate(-50%);
    }
  }
}

