* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
* body {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: baloo, sans-serif;
  background: whitesmoke;
  position: relative;
  cursor: none;
}
* body p {
  line-height: 40px;
  font-size: 1.1rem;
}
@media screen and (max-width: 900px) {
  * body p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 550px) {
  * body p {
    font-size: 0.8rem;
  }
}
* body a {
  text-decoration: none;
  z-index: 20;
  position: relative;
}
* body h2 {
  text-transform: uppercase;
  position: relative;
  font-family: baloo;
  font-size: 2rem;
  margin: 50px 0 100px;
  letter-spacing: 5px;
}
@media screen and (max-width: 900px) {
  * body h2 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 550px) {
  * body h2 {
    font-size: 0.9rem;
    letter-spacing: 2px;
    margin-top: 30px;
  }
}

.mouse {
  height: 15px;
  width: 15px;
  background: yellowgreen;
  border-radius: 50px;
  position: absolute;
  z-index: 2;
  transform: translate(-50%, -50%);
}

.mouse-follow {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background: rgba(153, 205, 50, 0.2);
  position: absolute;
  transition: 0.2s ease-out;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#go-top {
  content: "";
  position: fixed;
  background: rgba(45, 45, 45, 0.2);
  color: whitesmoke;
  font-size: 3rem;
  width: 75px;
  height: 75px;
  border: none;
  border-radius: 50px;
  top: 86%;
  left: 91%;
  transition: 0.5s;
  opacity: 0;
  z-index: 20;
}
@media screen and (max-width: 900px) {
  #go-top {
    left: 85%;
  }
}
@media screen and (max-width: 550px) {
  #go-top {
    left: 50%;
    transform: translate(-50%);
  }
}
#go-top a {
  color: whitesmoke;
}
#go-top:hover {
  transform: scale(1.2);
  background: yellowgreen;
}
@media screen and (max-width: 550px) {
  #go-top:hover {
    transform: scale(1.2) translate(-50%);
  }
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "white on black";
  src: url(../fonts/whiteonblack/whiteonblack.ttf);
}
@font-face {
  font-family: "baloo";
  src: url("../fonts/baloo/Baloo2-VariableFont_wght.ttf");
}
nav {
  position: relative;
  display: grid;
  grid-template-columns: 80% 20%;
  align-items: center;
  padding: 15px 30px;
  z-index: 20;
}
nav .in-link {
  display: flex;
  justify-content: start;
}
nav .out-link {
  display: flex;
  justify-content: end;
}
nav .out-link a {
  font-size: 1.5rem;
}
@media screen and (max-width: 550px) {
  nav .out-link a {
    font-size: 1.1rem;
  }
}
nav ul {
  position: relative;
  text-transform: uppercase;
  gap: 4vw;
}
nav ul li {
  font-size: 1.2rem;
  transition: 0.2s;
  font-weight: bold;
}
@media screen and (max-width: 900px) {
  nav ul li {
    font-size: 1rem;
  }
}
@media screen and (max-width: 550px) {
  nav ul li {
    font-size: 0.9rem;
  }
}
nav ul li:hover {
  transform: scale(1.5);
}
nav ul li a {
  transition: 0.2s;
  color: rgb(45, 45, 45);
}
nav ul .underline {
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 3px;
  width: 70px;
  background: yellowgreen;
  transition: 0.1s;
}

header {
  text-align: center;
  color: rgb(45, 45, 45);
}
header h1 {
  z-index: 20;
  position: relative;
  font-family: "white on black";
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 100px;
  margin: 0 auto 10px;
  display: flex;
  align-items: center;
  font-size: 5rem;
}
@media screen and (max-width: 900px) {
  header h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 550px) {
  header h1 {
    font-size: 2rem;
  }
}
header h1 span:nth-child(1),
header h1 span:nth-child(8) {
  font-size: 7rem;
}
@media screen and (max-width: 900px) {
  header h1 span:nth-child(1),
  header h1 span:nth-child(8) {
    font-size: 4rem;
  }
}
@media screen and (max-width: 550px) {
  header h1 span:nth-child(1),
  header h1 span:nth-child(8) {
    font-size: 3rem;
  }
}
header h1 span:nth-child(7) {
  display: inline-block;
  width: 2rem;
}
header h1 span {
  transition: 0.2s;
}
header h1 span:hover {
  color: yellowgreen;
  background: whitesmoke;
  transform: scale(1.5);
  animation: shakeLetter 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
@keyframes shakeLetter {
  10%, 90% {
    transform: scale(1.5) translate3d(-1px, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  20%, 80% {
    transform: scale(1.5) translate3d(2px, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  30%, 50%, 70% {
    transform: scale(1.5) translate3d(-4px, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  40%, 60% {
    transform: scale(1.5) translate3d(4px, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
}
header .header-bot {
  background: rgb(45, 45, 45);
  padding: 50px 0;
}
header .header-bot .description {
  color: whitesmoke;
  width: 80%;
  margin: auto;
}
header .header-bot .description #introduction {
  margin-bottom: 20px;
}
header .header-bot .description #technologies {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  color: yellowgreen;
}

.a-propos {
  width: 70%;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}
.a-propos .a-propos-content h2 {
  position: relative;
  text-transform: uppercase;
  margin-bottom: 50px;
  color: rgb(45, 45, 45);
}
.a-propos .photo-a-propos {
  background: url(./../img/Photo.png) center/cover;
  border-bottom: 30px solid yellowgreen;
  box-shadow: inset 0px 1px 11px 4px yellowgreen;
  border-radius: 300px;
  width: 450px;
  height: 450px;
  margin: 50px auto;
}
@media screen and (max-width: 900px) {
  .a-propos .photo-a-propos {
    width: 250px;
    height: 250px;
  }
}
.a-propos .photo-a-propos img {
  border: 2px solid yellowgreen;
}

footer {
  text-align: center;
}
footer .footer-container {
  width: 70%;
  margin: 50px auto;
}
footer .footer-container h2 {
  margin-bottom: 30px;
}
footer .footer-container ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
}
footer .footer-container ul li a {
  font-size: 2rem;
  color: black;
}

.projets {
  overflow: hidden;
  background: rgb(45, 45, 45);
  color: whitesmoke;
  text-align: center;
  padding: 50px 0;
}
.projets .projets-title {
  display: flex;
}
.projets .projets-title h2 {
  width: 45%;
  margin: 0 auto;
}
.projets #projet-container {
  width: 95vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  z-index: 20;
  position: relative;
}
.projets #projet-container .projet {
  background: rgba(245, 245, 245, 0.05);
  color: whitesmoke;
  width: 40%;
  margin: 50px auto;
  transition: 1s;
}
@media screen and (max-width: 900px) {
  .projets #projet-container .projet {
    width: 70%;
  }
}
@media screen and (max-width: 550px) {
  .projets #projet-container .projet {
    width: 90%;
    margin-top: 0;
  }
}
.projets #projet-container .projet:hover {
  box-shadow: 0px 0px 20px 20px whitesmoke;
}
.projets #projet-container .projet h3 {
  font-family: "white on black";
  font-size: 2rem;
  margin: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.projets #projet-container .projet .img-container {
  overflow: auto;
  margin: 0 auto 20px;
  width: 80%;
  height: 200px;
}
.projets #projet-container .projet .img-container img {
  width: 100%;
  height: auto;
}
.projets #projet-container .projet p {
  margin: 20px auto;
  width: 80%;
}
.projets #projet-container .projet h4 {
  font-size: 1.1rem;
}
.projets #projet-container .projet ul {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.projets #projet-container .projet ul li {
  color: yellowgreen;
}
.projets #projet-container .projet h5 {
  margin: 30px 0;
}
.projets #projet-container .projet h5 a {
  color: whitesmoke;
}
.projets #projet-container .projet h5 a i {
  margin-right: 10px;
}/*# sourceMappingURL=index.css.map */