html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "white on black";
  src: url(../fonts/whiteonblack/whiteonblack.ttf);
}
@font-face {
  font-family: "baloo";
  src: url("../fonts/baloo/Baloo2-VariableFont_wght.ttf");
}
@font-face {
  font-family: "opensans";
  src: url("../fonts/opensans/OpenSans-VariableFont_wdth,wght.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
* body {
  height: 100vh;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: opensans, sans-serif;
  position: relative;
}
* body section {
  margin-bottom: 100px;
}
* body h1, * body h2 {
  color: #333333;
  font-family: "white on black";
}
* body h2 {
  font-size: 4rem;
  padding: 50px 0 100px 0;
  letter-spacing: normal;
}
@media screen and (max-width: 550px) {
  * body h2 {
    font-size: 2rem;
  }
}
* body p {
  text-align: justify;
  line-height: 40px;
  font-weight: 400;
}
@media screen and (max-width: 900px) {
  * body p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 550px) {
  * body p {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
}
* body a {
  text-decoration: none;
  position: relative;
}

#go-top {
  cursor: pointer;
  content: "";
  position: fixed;
  background: rgba(5, 5, 5, 0.5);
  opacity: 0.5px;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  font-size: 3rem;
  width: 75px;
  height: 75px;
  border: none;
  border-radius: 10px;
  top: 86%;
  left: 91%;
  transition: 0.5s;
  opacity: 0;
  z-index: 20;
}
@media screen and (max-width: 900px) {
  #go-top {
    left: 85%;
  }
}
@media screen and (max-width: 550px) {
  #go-top {
    left: 50%;
    transform: translate(-50%);
  }
}
#go-top a {
  color: whitesmoke;
}
#go-top:hover {
  background: transparent;
  box-shadow: 0 0 20px 20px rgb(215, 46, 167);
}
#go-top:hover a {
  color: rgb(215, 46, 167);
}

nav {
  position: relative;
  display: grid;
  grid-template-columns: 80% 20%;
  align-items: center;
  padding: 15px 30px;
  z-index: 20;
  height: 10vh;
}
@media screen and (max-width: 550px) {
  nav {
    padding: 5px 15px;
  }
}
nav .in-link {
  display: flex;
  justify-content: start;
}
nav .out-link {
  display: flex;
  justify-content: end;
}
nav .out-link a {
  font-size: 1.5rem;
}
@media screen and (max-width: 550px) {
  nav .out-link a {
    font-size: 1.1rem;
  }
}
nav ul {
  position: relative;
  text-transform: uppercase;
  gap: 4vw;
}
nav ul li {
  font-size: 1.2rem;
  transition: 0.2s;
  font-weight: bold;
}
@media screen and (max-width: 900px) {
  nav ul li {
    font-size: 1rem;
  }
}
@media screen and (max-width: 550px) {
  nav ul li {
    font-size: 0.8rem;
  }
}
nav ul li:hover {
  transform: scale(1.2);
}
nav ul li a {
  transition: 0.2s;
  color: #333333;
}
nav ul li a i {
  font-size: 2rem;
}
@media screen and (max-width: 550px) {
  nav ul li a i {
    font-size: 1.2rem;
  }
}

.card {
  position: relative;
  color: whitesmoke;
  width: 40vw;
  max-width: 450px;
  min-width: 350px;
  height: 40vw;
  max-height: 450px;
  min-height: 350px;
  border-radius: 20px;
  transition: 0.5s;
}
@media screen and (max-width: 550px) {
  .card {
    min-height: 300px;
    min-width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.card:hover {
  padding: 0;
  box-shadow: 0px 0px 20px 20px rgb(154, 205, 50);
}
.card:hover h3 {
  display: none;
}
.card:hover .mini-description {
  display: none;
}
.card:hover .description {
  opacity: 1;
  visibility: visible;
}
.card h3 {
  position: relative;
  z-index: 10;
  font-family: "white on black";
  font-size: 2rem;
  margin: 50px;
  text-transform: uppercase;
  letter-spacing: normal;
}
@media screen and (max-width: 900px) {
  .card h3 {
    margin: 20px 0 20px 0;
  }
}
.card img {
  position: absolute;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.card .mini-description {
  position: relative;
  z-index: 10;
  background: rgba(5, 5, 5, 0.5);
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px;
  border-radius: 20px;
  opacity: 1;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.card .description {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 20px;
  background: rgba(5, 5, 5, 0.5);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s;
}
@media screen and (max-width: 550px) {
  .card .description {
    padding: 5px;
  }
}
.card p {
  margin: 20px;
  text-align: justify;
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 1000px) {
  .card p {
    line-height: 1.5rem;
  }
}
.card h4 {
  position: relative;
  z-index: 10;
  font-size: 1.1rem;
}
.card ul {
  position: relative;
  z-index: 10;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (max-width: 550px) {
  .card ul {
    margin-bottom: 0;
  }
}
.card ul li {
  color: rgb(154, 205, 50);
}
.card h5 {
  margin-top: 10px;
}
.card h5 a {
  color: rgb(154, 205, 50);
}
.card h5 a i {
  margin-right: 10px;
}

header {
  margin-top: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header h1 {
  margin-top: 20px;
  margin-bottom: 50px;
  position: relative;
  font-family: "white on black";
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  font-size: 5rem;
}
@media screen and (max-width: 900px) {
  header h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 550px) {
  header h1 {
    font-size: 1.8rem;
  }
}
header h1 span:nth-child(1),
header h1 span:nth-child(8) {
  font-size: 7rem;
}
@media screen and (max-width: 900px) {
  header h1 span:nth-child(1),
  header h1 span:nth-child(8) {
    font-size: 4rem;
  }
}
@media screen and (max-width: 550px) {
  header h1 span:nth-child(1),
  header h1 span:nth-child(8) {
    font-size: 2.5rem;
  }
}
header h1 span:nth-child(7) {
  display: inline-block;
}
@media screen and (max-width: 550px) {
  header h1 span:nth-child(7) {
    font-size: 3rem;
  }
}
header h1 span {
  transition: 0.2s;
}
header h1 span:hover {
  transform: scale(1.5);
  animation: shakeLetter 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
header h2 {
  padding: 0;
  text-transform: uppercase;
  font-family: "baloo";
  font-size: 2rem;
  letter-spacing: 5px;
}
@media screen and (max-width: 900px) {
  header h2 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 550px) {
  header h2 {
    font-size: 0.9rem;
    letter-spacing: 2px;
  }
}
@keyframes shakeLetter {
  10%, 90% {
    transform: scale(1.5) translate3d(-1px, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  20%, 80% {
    transform: scale(1.5) translate3d(2px, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  30%, 50%, 70% {
    transform: scale(1.5) translate3d(-4px, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  40%, 60% {
    transform: scale(1.5) translate3d(4px, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
}
header h3 {
  margin-top: 50px;
}
header .header-bot {
  max-width: 1000px;
  width: 80%;
  margin: 100px auto;
}

.a-propos {
  text-align: center;
}
.a-propos p {
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
}
.a-propos .description {
  max-width: 1000px;
  width: 80%;
  margin: 50px auto;
}
.a-propos .description #technologies {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  color: rgb(154, 205, 50);
}
.a-propos .description #competences {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  color: rgb(154, 205, 50);
}

footer {
  text-align: center;
  background: rgb(45, 45, 45);
  padding-bottom: 100px;
}
footer .footer-container {
  color: whitesmoke;
}
footer .footer-container h2 {
  color: #F5F5F5;
}
footer .footer-container p {
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
}
footer .footer-container ul {
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
}
footer .footer-container ul li {
  transition: 0.2s;
}
footer .footer-container ul li a {
  font-size: 2rem;
  color: whitesmoke;
}
footer .footer-container ul li:hover {
  transform: scale(1.2);
}

.projets {
  overflow: hidden;
  color: whitesmoke;
  text-align: center;
  padding: 50px 0;
}
.projets #projet-container {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  position: relative;
}
@media screen and (max-width: 1500px) {
  .projets #projet-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .projets #projet-container {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=index.css.map */