html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "white on black";
  src: url(../fonts/whiteonblack/whiteonblack.ttf);
}
@font-face {
  font-family: "baloo";
  src: url("../fonts/baloo/Baloo2-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Black.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
* body {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: baloo, sans-serif;
  background: whitesmoke;
  position: relative;
}
* body p {
  line-height: 40px;
  font-size: 1.1rem;
}
@media screen and (max-width: 900px) {
  * body p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 550px) {
  * body p {
    font-size: 0.8rem;
  }
}
* body a {
  text-decoration: none;
  z-index: 20;
  position: relative;
}

.mouse {
  height: 15px;
  width: 15px;
  background: yellowgreen;
  border-radius: 50px;
  position: absolute;
  z-index: 2;
  transform: translate(-50%, -50%);
}

.mouse-follow {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background: rgba(153, 205, 50, 0.2);
  position: absolute;
  transition: 0.2s ease-out;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#go-top {
  content: "";
  position: fixed;
  background: rgba(45, 45, 45, 0.2);
  color: whitesmoke;
  font-size: 3rem;
  width: 75px;
  height: 75px;
  border: none;
  border-radius: 50px;
  top: 86%;
  left: 91%;
  transition: 0.5s;
  opacity: 0;
  z-index: 20;
}
@media screen and (max-width: 900px) {
  #go-top {
    left: 85%;
  }
}
@media screen and (max-width: 550px) {
  #go-top {
    left: 50%;
    transform: translate(-50%);
  }
}
#go-top a {
  color: whitesmoke;
}
#go-top:hover {
  transform: scale(1.2);
  background: yellowgreen;
}
@media screen and (max-width: 550px) {
  #go-top:hover {
    transform: scale(1.2) translate(-50%);
  }
}

nav {
  position: relative;
  display: grid;
  grid-template-columns: 80% 20%;
  align-items: center;
  padding: 15px 30px;
  z-index: 20;
  height: 10vh;
}
nav .in-link {
  display: flex;
  justify-content: start;
}
nav .out-link {
  display: flex;
  justify-content: end;
}
nav .out-link a {
  font-size: 1.5rem;
}
@media screen and (max-width: 550px) {
  nav .out-link a {
    font-size: 1.1rem;
  }
}
nav ul {
  position: relative;
  text-transform: uppercase;
  gap: 4vw;
}
nav ul li {
  font-size: 1.2rem;
  transition: 0.2s;
  font-weight: bold;
}
@media screen and (max-width: 900px) {
  nav ul li {
    font-size: 1rem;
  }
}
@media screen and (max-width: 550px) {
  nav ul li {
    font-size: 0.9rem;
  }
}
nav ul li:hover {
  transform: scale(1.5);
}
nav ul li a {
  transition: 0.2s;
  color: rgb(45, 45, 45);
}
nav ul .underline {
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 3px;
  width: 70px;
  background: yellowgreen;
  transition: 0.1s;
}

.projet {
  position: relative;
  padding: 30px;
  color: whitesmoke;
  width: 40vw;
  max-width: 450px;
  min-width: 350px;
  height: 40vw;
  max-height: 450px;
  min-height: 350px;
  transition: 1s;
  border-radius: 20px;
}
@media screen and (max-width: 550px) {
  .projet {
    min-height: 300px;
    min-width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.projet:hover {
  box-shadow: 0px 0px 20px 20px whitesmoke;
}
.projet h3 {
  font-family: "white on black";
  font-size: 2rem;
  margin: 50px;
  text-transform: uppercase;
  letter-spacing: normal;
}
@media screen and (max-width: 900px) {
  .projet h3 {
    margin: 0 0 50px 0;
  }
}
.projet .img-container {
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto 20px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -100;
}
.projet .img-container img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}
.projet .description-container {
  background: rgba(5, 5, 5, 0.5);
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
}
.projet p {
  margin: 20px auto;
  width: 80%;
}
.projet h4 {
  font-size: 1.1rem;
}
.projet ul {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (max-width: 550px) {
  .projet ul {
    margin-bottom: 0;
  }
}
.projet ul li {
  color: yellowgreen;
}
@media screen and (max-width: 550px) {
  .projet h5 {
    display: none;
  }
}
.projet h5 a {
  color: whitesmoke;
}
.projet h5 a i {
  margin-right: 10px;
}

header {
  text-align: center;
  color: rgb(45, 45, 45);
  height: 90vh;
}
header h1 {
  z-index: 20;
  position: relative;
  font-family: "white on black";
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 100px;
  margin: 0 auto 10px;
  display: flex;
  align-items: center;
  font-size: 5rem;
}
@media screen and (max-width: 900px) {
  header h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 550px) {
  header h1 {
    font-size: 2rem;
  }
}
header h1 span:nth-child(1),
header h1 span:nth-child(8) {
  font-size: 7rem;
}
@media screen and (max-width: 900px) {
  header h1 span:nth-child(1),
  header h1 span:nth-child(8) {
    font-size: 4rem;
  }
}
@media screen and (max-width: 550px) {
  header h1 span:nth-child(1),
  header h1 span:nth-child(8) {
    font-size: 3rem;
  }
}
header h1 span:nth-child(7) {
  display: inline-block;
  width: 2rem;
}
header h1 span {
  transition: 0.2s;
}
header h1 span:hover {
  color: yellowgreen;
  background: whitesmoke;
  transform: scale(1.5);
  animation: shakeLetter 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
header h2 {
  text-transform: uppercase;
  position: relative;
  font-family: "Roboto";
  font-size: 2rem;
  letter-spacing: 5px;
  margin-top: 80px;
}
@media screen and (max-width: 900px) {
  header h2 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 550px) {
  header h2 {
    font-size: 0.9rem;
    letter-spacing: 2px;
    margin-top: 30px;
  }
}
@keyframes shakeLetter {
  10%, 90% {
    transform: scale(1.5) translate3d(-1px, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  20%, 80% {
    transform: scale(1.5) translate3d(2px, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  30%, 50%, 70% {
    transform: scale(1.5) translate3d(-4px, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  40%, 60% {
    transform: scale(1.5) translate3d(4px, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
}
header .header-bot {
  margin-top: 50px;
  padding: 50px 0;
}
header .header-bot .description {
  color: rgb(45, 45, 45);
  width: 80%;
  margin: auto;
}
header .header-bot .description #introduction {
  margin-bottom: 20px;
}
header .header-bot .description #technologies {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  color: yellowgreen;
}
header .header-bot .description #competences {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  color: rgb(214, 63, 171);
}

.a-propos {
  width: 70%;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}
.a-propos .a-propos-content h2 {
  position: relative;
  text-transform: uppercase;
  margin-bottom: 50px;
  color: rgb(45, 45, 45);
  font-family: "white on black";
  font-size: 3rem;
  letter-spacing: normal;
}
.a-propos .photo-a-propos {
  background: url(./../img/Photo.png) center/cover;
  border-bottom: 30px solid yellowgreen;
  box-shadow: inset 0px 1px 11px 4px yellowgreen;
  border-radius: 300px;
  width: 450px;
  height: 450px;
  margin: 50px auto;
}
@media screen and (max-width: 900px) {
  .a-propos .photo-a-propos {
    width: 250px;
    height: 250px;
  }
}
.a-propos .photo-a-propos img {
  border: 2px solid yellowgreen;
}

footer {
  text-align: center;
  background: rgb(45, 45, 45);
}
footer .footer-container {
  padding: 50px 200px;
  color: whitesmoke;
}
footer .footer-container h2 {
  margin-bottom: 30px;
}
footer .footer-container ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
}
footer .footer-container ul li a {
  font-size: 2rem;
  color: whitesmoke;
}

.projets {
  overflow: hidden;
  background: rgb(45, 45, 45);
  color: whitesmoke;
  text-align: center;
  padding: 50px 0;
}
.projets .projets-titles h2 {
  font-family: "white on black";
  font-size: 4rem;
  padding: 0 0 50px 0;
  letter-spacing: normal;
}
.projets #projet-container {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  position: relative;
}
@media screen and (max-width: 1440px) {
  .projets #projet-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .projets #projet-container {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=index.css.map */